.Burger {
    width: 100%;
    margin: auto;
    height: 250px;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (max-width: 727px) {
    .Burger {
        width: 300px;
        height: 300px;
    }
}

@media (min-width: 728px) and (max-width: 1000px) {
    .Burger {
        width: 450px;
        height: 450px;
    }
}

@media (min-width: 1001px) and (max-width: 1600px) {
    .Burger {
        width: 650px;
        height: 650px;
    }
}

@media (min-width: 1601px) {
    .Burger {
        width: 850px;
        height: 850px;
    }
}